## **Client Bank Subscribe Term Deposit Prediction**
---

- Task : Classification
- Objective : Prediksi client bank yang berlangganan term deposit

<br>

<center>
<img src="https://keralagbank.com/public/images/inner/personal/term-deposit.png">
</center>

### **Data description:**

**Bank Client Data**:

- `age` (numeric)
- `job` : type of job (categorical: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student", "blue-collar", "self-employed", "retired", "technician", "services")
- `marital` : marital status (categorical: "married", "divorced", "single"; note: "divorced" means divorced or widowed)
- `education` (categorical: "unknown", "secondary", "primary", "tertiary")
- `default`: has credit in default? (binary: "yes", "no")
- `balance`: average yearly balance, in euros (numeric)
- `housing`: has housing loan? (binary: "yes", "no")
- `loan`: has personal loan? (binary: "yes", "no")

<br>

**Kondisi komunikasi dengan campaign terakhir**
- `contact`: contact communication type (categorical: "unknown", "telephone", "cellular")
- `day`: last contact day of the month (numeric)
- `month`: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
- `duration`: last contact duration, in seconds (numeric)

<br>

**Atribut/Fitur lain**
- `campaign`: number of contacts performed during this campaign and for this client (numeric, includes last contact)
- `pdays`: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
- `previous`: number of contacts performed before this campaign and for this client (numeric)
- `poutcome`: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

<br>

**Output variable (desired target)**
- `y` - has the client subscribed a term deposit? (binary: "yes","no")

In [183]:
import pandas as pd
import numpy as np

In [184]:
bank_df = pd.read_csv("bank-data.csv")
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

In [185]:
bank_df.shape

(45211, 17)

In [186]:
duplicate_status = bank_df.duplicated()
duplicate_status.sum()

0

Buat semuanya dalam fungsi

1. Import data
2. Cek Jumlah observasi dan Jumlah kolom
3. Drop duplicate
4. Cek Jumlah observasi dan Jumlah kolom setelah di-drop
5. Return data setelah di-drop

In [280]:
def importData(filename):
    """
    Fungsi untuk import data & hapus duplikat
    :param filename: <string> nama file input (format .csv)
    :return df: <pandas dataframe> sampel data
    """

    # read data
    df = pd.read_csv(filename)
    print("Data asli            : ", df.shape, "- (#observasi, #kolom)")

    # drop duplicates
    df = df.drop_duplicates()
    print("Data setelah di-drop : ", df.shape, "- (#observasi, #kolom)")

    return df

# (filename) adalah argumen
# Argumen adalah sebuah variable. 
# Jika fungsi tsb. diberi argumen filename = "bank_data.csv", 
# maka semua variabel 'filename' di dalam fungsi 
# akan berubah menjadi "bank_data.csv"

In [189]:
file_bank = "bank-data.csv"
bank_df = importData(filename = file_bank)

Data asli            :  (45211, 17) - (#observasi, #kolom)
Data setelah di-drop :  (45211, 17) - (#observasi, #kolom)

In [190]:
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

2. Data Preprocessing:
* Input-Output Split, Train-Test Split
* Processing Categorical
* Imputation, Normalization, Drop Duplicates

Input-Output Split
Fitur y adalah output variabel dari data marketing
yang lainnya menjadi input

In [192]:
output_data = bank_df["y"]
output_data.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [193]:
input_data = bank_df.drop(["y"], 
                          axis = 1)

In [194]:
input_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown

Buat semuanya jadi fungsi

1. buat output_data
2. buat input_data
3. return input_data dan output_data

In [195]:
output_data = bank_df["y"]
input_data = bank_df.drop("y",
                          axis = 1)

In [196]:
def extractInputOutput(data,
                       output_column_name):
    """
    Fungsi untuk memisahkan data input dan output
    :param data: <pandas dataframe> data seluruh sample
    :param output_column_name: <string> nama kolom output
    :return input_data: <pandas dataframe> data input
    :return output_data: <pandas series> data output
    """
    output_data = data[output_column_name]
    input_data = data.drop(output_column_name,
                           axis = 1)
    
    return input_data, output_data

# (data, output_column_name) adalah argumen
# Argumen adalah sebuah variable. 
# Jika fungsi tsb. diberi argumen data = bank_df, 
# maka semua variabel 'data' di dalam fungsi akan berubah menjadi bank_df

In [199]:
X, y = extractInputOutput(data = bank_df,
                          output_column_name = "y")

### **Train-Test Split**

In [200]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.25,
                                                    random_state = 12)

In [201]:
print(X_train.shape)
print(X_test.shape)

(33908, 16)
(11303, 16)

In [206]:
print("Data ratio : ", X_test.shape[0] / X.shape[0])

Data ratio :  0.25000552962774547

### **Data Imputation**

- Proses pengisian data yang kosong (NaN)
- Ada 2 hal yang diperhatikan:
  - Numerical Imputation
  - Categorical Imputation

In [211]:
X_train.isnull().sum()

age          2626
job          2650
marital      2650
education    2542
default      2689
balance      2574
housing      2660
loan         2668
contact      2695
day          2617
month        2602
duration     2701
campaign     2614
pdays        2634
previous     2638
poutcome     2629
dtype: int64

In [123]:
X_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
37156,35.0,management,single,tertiary,no,2749.0,no,no,cellular,13.0,may,127.0,1.0,-1.0,0.0,unknown
20494,30.0,management,NaN,NaN,no,443.0,yes,NaN,cellular,12.0,NaN,80.0,2.0,-1.0,0.0,unknown
35272,39.0,management,NaN,tertiary,no,4239.0,yes,no,cellular,7.0,may,40.0,1.0,-1.0,0.0,unknown
22260,49.0,services,NaN,NaN,no,400.0,no,no,cellular,21.0,aug,151.0,3.0,-1.0,0.0,unknown
2728,28.0,technician,single,secondary,no,468.0,yes,no,unknown,13.0,may,152.0,3.0,-1.0,0.0,unknown

Data kategorikal:
- job
- marital
- education
- default
- housing
- loan
- contact
- month
- poutcome

Sisanya adalah numerical

**Numerical Imputation**

In [212]:
X_train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome'],
      dtype='object')

In [213]:
numerical_column = ["age", "balance", "day", "duration", "campaign", "pdays", "previous"]

In [214]:
X_train_numerical = X_train[numerical_column]

In [215]:
X_train_numerical.head()

        age  balance   day  duration  campaign  pdays  previous
37156  35.0   2749.0  13.0     127.0       1.0   -1.0       0.0
20494  30.0    443.0  12.0      80.0       2.0   -1.0       0.0
35272  39.0   4239.0   7.0      40.0       1.0   -1.0       0.0
22260  49.0    400.0  21.0     151.0       3.0   -1.0       0.0
2728   28.0    468.0  13.0     152.0       3.0   -1.0       0.0

**Cek apakah ada data numerik yang kosong**

In [217]:
X_train_numerical.isnull().sum()

age         2626
balance     2574
day         2617
duration    2701
campaign    2614
pdays       2634
previous    2638
dtype: int64

**Gunakan imputer dari sklearn untuk data imputation numerik saja**

In [129]:
from sklearn.impute import SimpleImputer

In [281]:
imputer = SimpleImputer(missing_values = np.nan,
                        strategy = "median")

# namakan function SimpleImputer menjadi imputer, jangan lupa tanda kurung ()
# missing_values adalah tanda missing values dalam data.
#   - bisa NaN, bisa 999, bisa "KOSONG"
# Strategy median adalah strategy imputasi, 
# jika data kosong, diganti dengan median target
# Strategi lainnya adalah: mean

- `fit` : imputer agar mengetahui mean atau median dari tiap kolom
- `transform` : isi data dengan median atau mean
- output dari transform adalah pandas dataframe
- namakan kolom `X_train_numerical_imputed` sesuai dengan `X_train_numerical`.
   - MENGAPA? karena kita kehilangan nama kolom setelah data imputation
- beri index dari `X_train_numerical_imputed` sesuai dengan `X_train_numerical`.
   - MENGAPA? karena kita kehilangan index setelah data imputation

In [219]:
imputer.fit(X_train_numerical)

imputed_data = imputer.transform(X_train_numerical)
X_train_numerical_imputed = pd.DataFrame(imputed_data)

X_train_numerical_imputed.columns = X_train_numerical.columns
X_train_numerical_imputed.index = X_train_numerical.index

In [220]:
X_train_numerical_imputed.isnull().sum()

age         0
balance     0
day         0
duration    0
campaign    0
pdays       0
previous    0
dtype: int64

In [282]:
from sklearn.impute import SimpleImputer

def numericalImputation(data, numerical_column):
    """
    Fungsi untuk melakukan imputasi data numerik
    :param data: <pandas dataframe> sample data input
    :param numerical_column: <list> list kolom numerik data
    :return X_train_numerical: <pandas dataframe> data numerik
    :return imputer_numerical: numerical imputer method
    """
    # Filter data numerik
    numerical_data = data[numerical_column]

    # Buat imputer
    imputer_numerical = SimpleImputer(missing_values = np.nan,
                                      strategy = "median")
    imputer_numerical.fit(numerical_data)

    # Transform
    imputed_data = imputer_numerical.transform(numerical_data)
    numerical_data_imputed = pd.DataFrame(imputed_data)

    numerical_data_imputed.columns = numerical_column
    numerical_data_imputed.index = numerical_data.index

    return numerical_data_imputed, imputer_numerical

In [222]:
numerical_column = ["age", "balance", "day", "duration", "campaign", "pdays", "previous"]

X_train_numerical, imputer_numerical = numericalImputation(data = X_train, numerical_column = numerical_column)

In [223]:
X_train_numerical.isnull().sum()

age         0
balance     0
day         0
duration    0
campaign    0
pdays       0
previous    0
dtype: int64

**Categorical Imputation**

In [227]:
X_train_column = list(X_train.columns)
categorical_column = list(set(X_train_column).difference(set(numerical_column)))

In [228]:
categorical_column

['loan',
 'marital',
 'default',
 'job',
 'poutcome',
 'contact',
 'month',
 'housing',
 'education']

In [229]:
categorical_data = X_train[categorical_column]
categorical_data.isnull().sum()

loan         2668
marital      2650
default      2689
job          2650
poutcome     2629
contact      2695
month        2602
housing      2660
education    2542
dtype: int64

In [230]:
categorical_data = X_train[categorical_column]
categorical_data = categorical_data.fillna(value="KOSONG")

In [231]:
categorical_data.isnull().sum()

loan         0
marital      0
default      0
job          0
poutcome     0
contact      0
month        0
housing      0
education    0
dtype: int64

**Mari buat dalam bentuk function**

In [233]:
def categoricalImputation(data, categorical_column):
    """
    Fungsi untuk melakukan imputasi data kategorik
    :param data: <pandas dataframe> sample data input
    :param categorical_column: <list> list kolom kategorikal data
    :return categorical_data: <pandas dataframe> data kategorikal
    """

    categorical_data = data[categorical_column]
    categorical_data = categorical_data.fillna(value="KOSONG")
    return categorical_data

In [234]:
X_train_categorical = categoricalImputation(data = X_train, categorical_column = categorical_column)

In [235]:
X_train_categorical.isnull().sum()

loan         0
marital      0
default      0
job          0
poutcome     0
contact      0
month        0
housing      0
education    0
dtype: int64

### **Preprocessing Categorical Variables**

- Kita tidak bisa memasukkan data categorical, jika tidak diubah menjadi numerical
- Solusi: One Hot Encoding (OHE)

In [236]:
categorical_ohe = pd.get_dummies(X_train_categorical)

In [237]:
categorical_ohe.head(2)

,loan_KOSONG,loan_no,loan_yes,marital_KOSONG,marital_divorced,marital_married,marital_single,default_KOSONG,default_no,default_yes,...,month_oct,month_sep,housing_KOSONG,housing_no,housing_yes,education_KOSONG,education_primary,education_secondary,education_tertiary,education_unknown
37156,False,True,False,False,False,False,True,False,True,False,...,False,False,False,True,False,False,False,False,True,False
20494,True,False,False,True,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False

**Mari buat menjadi fungsi**

In [238]:
def extractCategorical(data, categorical_column):
    """
    Fungsi untuk ekstrak data kategorikal dengan One Hot Encoding
    :param data: <pandas dataframe> data sample
    :param categorical_column: <list> list kolom kategorik
    :return categorical_ohe: <pandas dataframe> data sample dengan ohe
    """
    data_categorical = categoricalImputation(data = data,
                                             categorical_column = categorical_column)
    categorical_ohe = pd.get_dummies(data_categorical)

    return categorical_ohe

In [239]:
X_train_categorical_ohe = extractCategorical(data = X_train,
                                             categorical_column = categorical_column)

In [240]:
X_train_categorical_ohe.head()

,loan_KOSONG,loan_no,loan_yes,marital_KOSONG,marital_divorced,marital_married,marital_single,default_KOSONG,default_no,default_yes,...,month_oct,month_sep,housing_KOSONG,housing_no,housing_yes,education_KOSONG,education_primary,education_secondary,education_tertiary,education_unknown
37156,False,True,False,False,False,False,True,False,True,False,...,False,False,False,True,False,False,False,False,True,False
20494,True,False,False,True,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
35272,False,True,False,True,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
22260,False,True,False,True,False,False,False,False,True,False,...,False,False,False,True,False,True,False,False,False,False
2728,False,True,False,False,False,False,True,False,True,False,...,False,False,False,False,True,False,False,True,False,False

In [241]:
# Simpan kolom OHE untuk diimplementasikan dalam testing data
# Agar shape-nya konsisten
ohe_columns = X_train_categorical_ohe.columns

In [242]:
ohe_columns

Index(['loan_KOSONG', 'loan_no', 'loan_yes', 'marital_KOSONG',
       'marital_divorced', 'marital_married', 'marital_single',
       'default_KOSONG', 'default_no', 'default_yes', 'job_KOSONG',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'poutcome_KOSONG', 'poutcome_failure', 'poutcome_other',
       'poutcome_success', 'poutcome_unknown', 'contact_KOSONG',
       'contact_cellular', 'contact_telephone', 'contact_unknown',
       'month_KOSONG', 'month_apr', 'month_aug', 'month_dec', 'month_feb',
       'month_jan', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep', 'housing_KOSONG', 'housing_no',
       'housing_yes', 'education_KOSONG', 'education_primary',
       'education_secondary', 'education_tertiary', 'education_unknown'],
      dtype='object')

### **Join data Numerical dan Categorical**

- Data numerik & kategorik harus disatukan kembali
- Penyatuan dengan `pd.concat`

In [243]:
X_train_concat = pd.concat([X_train_numerical,
                            X_train_categorical_ohe],
                           axis = 1)

In [244]:
X_train_concat.head()

,age,balance,day,duration,campaign,pdays,previous,loan_KOSONG,loan_no,loan_yes,...,month_oct,month_sep,housing_KOSONG,housing_no,housing_yes,education_KOSONG,education_primary,education_secondary,education_tertiary,education_unknown
37156,35.0,2749.0,13.0,127.0,1.0,-1.0,0.0,False,True,False,...,False,False,False,True,False,False,False,False,True,False
20494,30.0,443.0,12.0,80.0,2.0,-1.0,0.0,True,False,False,...,False,False,False,False,True,True,False,False,False,False
35272,39.0,4239.0,7.0,40.0,1.0,-1.0,0.0,False,True,False,...,False,False,False,False,True,False,False,False,True,False
22260,49.0,400.0,21.0,151.0,3.0,-1.0,0.0,False,True,False,...,False,False,False,True,False,True,False,False,False,False
2728,28.0,468.0,13.0,152.0,3.0,-1.0,0.0,False,True,False,...,False,False,False,False,True,False,False,True,False,False

In [245]:
X_train_concat.isnull().sum()

age                    0
balance                0
day                    0
duration               0
campaign               0
pdays                  0
previous               0
loan_KOSONG            0
loan_no                0
loan_yes               0
marital_KOSONG         0
marital_divorced       0
marital_married        0
marital_single         0
default_KOSONG         0
default_no             0
default_yes            0
job_KOSONG             0
job_admin.             0
job_blue-collar        0
job_entrepreneur       0
job_housemaid          0
job_management         0
job_retired            0
job_self-employed      0
job_services           0
job_student            0
job_technician         0
job_unemployed         0
job_unknown            0
poutcome_KOSONG        0
poutcome_failure       0
poutcome_other         0
poutcome_success       0
poutcome_unknown       0
contact_KOSONG         0
contact_cellular       0
contact_telephone      0
contact_unknown        0
month_KOSONG           0
month_apr              0
month_aug              0
month_dec              0
month_feb              0
month_jan              0
month_jul              0
month_jun              0
month_mar              0
month_may              0
month_nov              0
month_oct              0
month_sep              0
housing_KOSONG         0
housing_no             0
housing_yes            0
education_KOSONG       0
education_primary      0
education_secondary    0
education_tertiary     0
education_unknown      0
dtype: int64

### **Standardizing Variables**

- Menyamakan skala dari variabel input
- `fit`: imputer agar mengetahui mean dan standar deviasi dari setiap kolom
- `transform`: isi data dengan value yang sudah dinormalisasi
- output dari transform berupa pandas dataframe
- normalize dikeluarkan karena akan digunakan pada data test

In [246]:
from sklearn.preprocessing import StandardScaler

# Buat fungsi
def standardizerData(data):
    """
    Fungsi untuk melakukan standarisasi data
    :param data: <pandas dataframe> sampel data
    :return standardized_data: <pandas dataframe> sampel data standard
    :return standardizer: method untuk standardisasi data
    """
    data_columns = data.columns  # agar nama kolom tidak hilang
    data_index = data.index  # agar index tidak hilang

    # buat (fit) standardizer
    standardizer = StandardScaler()
    standardizer.fit(data)

    # transform data
    standardized_data_raw = standardizer.transform(data)
    standardized_data = pd.DataFrame(standardized_data_raw)
    standardized_data.columns = data_columns
    standardized_data.index = data_index

    return standardized_data, standardizer

In [247]:
X_train_clean, standardizer = standardizerData(data = X_train_concat)

In [248]:
X_train_clean.head()

,age,balance,day,duration,campaign,pdays,previous,loan_KOSONG,loan_no,loan_yes,...,month_oct,month_sep,housing_KOSONG,housing_no,housing_yes,education_KOSONG,education_primary,education_secondary,education_tertiary,education_unknown
37156,-0.568886,0.502047,-0.354434,-0.504073,-0.569761,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.124432,-0.110222,-0.291763,1.201004,-1.024543,-0.284681,-0.402775,-0.949599,1.632949,-0.200227
20494,-1.058043,-0.288093,-0.479210,-0.693995,-0.236736,-0.390255,-0.292138,3.421863,-1.840720,-0.418762,...,-0.124432,-0.110222,-0.291763,-0.832636,0.976045,3.512706,-0.402775,-0.949599,-0.612389,-0.200227
35272,-0.177561,1.012588,-1.103089,-0.855631,-0.569761,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.124432,-0.110222,-0.291763,-0.832636,0.976045,-0.284681,-0.402775,-0.949599,1.632949,-0.200227
22260,0.800752,-0.302827,0.643772,-0.407091,0.096289,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.124432,-0.110222,-0.291763,1.201004,-1.024543,3.512706,-0.402775,-0.949599,-0.612389,-0.200227
2728,-1.253705,-0.279527,-0.354434,-0.403050,0.096289,-0.390255,-0.292138,-0.292238,0.543266,-0.418762,...,-0.124432,-0.110222,-0.291763,-0.832636,0.976045,-0.284681,-0.402775,1.053076,-0.612389,-0.200227

## <font> 3. Training Machine Learning:</font>
---
    * Choose Score to optimize and Hyperparameter Space
    * Cross-Validation: Random vs Grid Search CV
    * Kita harus mengalahkan benchmark

### **Benchmark / Baseline**

- Baseline untuk evaluasi nanti
- Karena ini klasifikasi, bisa kita ambil dari proporsi kelas target yang terbesar
- Dengan kata lain, menebak hasil output marketing response dengan nilai "no" semua tanpa modeling

In [251]:
y_train.value_counts(normalize = True)
# baseline akurasi = 88%

y
no     0.882624
yes    0.117376
Name: proportion, dtype: float64

### **1. Import Model**

- Misal kita gunakan 3 model ML untuk klasifikasi:
    - K-nearest neighbor (K-NN)
    - Logistic Regression
    - Random Forest

In [252]:
# Import dari sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

### **2. Fitting Model**

- Cara fitting/training model mengikuti yang dokumentasi model

In [256]:
# Model K nearest neighbor
knn = KNeighborsClassifier()
knn.fit(X_train_clean, y_train)

KNeighborsClassifier()

In [257]:
# Model Logistic Regression
logreg = LogisticRegression(random_state = 123)
logreg.fit(X_train_clean, y_train)

LogisticRegression(random_state=123)

In [258]:
# Model Random Forest Classifier
random_forest = RandomForestClassifier(random_state = 123)
random_forest.fit(X_train_clean, y_train)

RandomForestClassifier(random_state=123)

In [259]:
# Model Random Forest Classifier 1
# Mari kita ubah hyperparameter dari random forest --> n_estimator
# Tambahkan n_estimator = 500

random_forest_1 = RandomForestClassifier(random_state = 123,
                                        n_estimators = 500)
random_forest_1.fit(X_train_clean, y_train)

RandomForestClassifier(n_estimators=500, random_state=123)

### **3. Prediction**

- Saatnya melakukan prediksi

In [260]:
# Prediksi Logistic Regression
logreg.predict(X_train_clean)

array(['no', 'no', 'no', ..., 'no', 'no', 'yes'], dtype=object)

In [261]:
predicted_logreg = pd.DataFrame(logreg.predict(X_train_clean))
predicted_logreg

         0
0       no
1       no
2       no
3       no
4       no
...    ...
33903   no
33904   no
33905   no
33906   no
33907  yes

[33908 rows x 1 columns]

In [262]:
predicted_knn = pd.DataFrame(knn.predict(X_train_clean))
predicted_knn.head()

c:\Users\Lenovo\AppData\Local\Programs\Python\Python38\lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Users\Lenovo\AppData\Local\Programs\Python\Python38\lib\site-packages\joblib\externals\loky\backend\context.py", line 282, in _count_physical_cores
    raise ValueError(f"found {cpu_count_physical} physical cores < 1")

    0
0  no
1  no
2  no
3  no
4  no

In [263]:
predicted_rf = pd.DataFrame(random_forest.predict(X_train_clean))
predicted_rf.head()

    0
0  no
1  no
2  no
3  no
4  no

In [264]:
predicted_rf_1 = pd.DataFrame(random_forest_1.predict(X_train_clean))
predicted_rf_1.head()

    0
0  no
1  no
2  no
3  no
4  no

### **4. Cek performa model di data training**

In [265]:
benchmark = y_train.value_counts(normalize=True)[0]
benchmark

0.8826235696590775

In [266]:
# akurasi knn
knn.score(X_train_clean, y_train)

0.9098737761000354

In [267]:
# akurasi logistic regression
logreg.score(X_train_clean, y_train)

0.9005839329951634

In [268]:
# akurasi random forest
random_forest.score(X_train_clean, y_train)

1.0

In [269]:
# akurasi random forest 1
random_forest_1.score(X_train_clean, y_train)

1.0

### **5. Simpan model ke file pickle**

In [270]:
import joblib

joblib.dump(logreg, "logreg.pkl")
joblib.dump(knn, "knn.pkl")
joblib.dump(random_forest, "random_forest.pkl")
joblib.dump(random_forest_1, "random_forest_1.pkl")

['random_forest_1.pkl']

### **6. Test Prediction**

1. Siapkan file test dataset
2. Lakukan preprocessing yang sama dengan yang dilakukan di train dataset
3. gunakan `imputer_numerical` dan `standardizer` yang telah di-fit di train dataset

In [271]:
def extractTest(data,
                numerical_column, categorical_column, ohe_column,
                imputer_numerical, standardizer):
    """
    Fungsi untuk mengekstrak & membersihkan test data 
    :param data: <pandas dataframe> sampel data test
    :param numerical_column: <list> kolom numerik
    :param categorical_column: <list> kolom kategorik
    :param ohe_column: <list> kolom one-hot-encoding dari data kategorik
    :param imputer_numerical: <sklearn method> imputer data numerik
    :param standardizer: <sklearn method> standardizer data
    :return cleaned_data: <pandas dataframe> data final
    """
    # Filter data
    numerical_data = data[numerical_column]
    categorical_data = data[categorical_column]

    # Proses data numerik
    numerical_data = pd.DataFrame(imputer_numerical.transform(numerical_data))
    numerical_data.columns = numerical_column
    numerical_data.index = data.index

    # Proses data kategorik
    categorical_data = categorical_data.fillna(value="KOSONG")
    categorical_data.index = data.index
    categorical_data = pd.get_dummies(categorical_data)
    categorical_data.reindex(index = categorical_data.index, 
                             columns = ohe_column)

    # Gabungkan data
    concat_data = pd.concat([numerical_data, categorical_data],
                             axis = 1)
    cleaned_data = pd.DataFrame(standardizer.transform(concat_data))
    cleaned_data.columns = concat_data.columns

    return cleaned_data

In [272]:
def testPrediction(X_test, y_test, classifier, compute_score):
    """
    Fungsi untuk mendapatkan prediksi dari model
    :param X_test: <pandas dataframe> input
    :param y_test: <pandas series> output/target
    :param classifier: <sklearn method> model klasifikasi
    :param compute_score: <bool> True: menampilkan score, False: tidak
    :return test_predict: <list> hasil prediksi data input
    :return score: <float> akurasi model
    """
    if compute_score:
        score = classifier.score(X_test, y_test)
        print(f"Accuracy : {score:.4f}")

    test_predict = classifier.predict(X_test)

    return test_predict, score

In [273]:
X_test_clean = extractTest(data = X_test,
                           numerical_column = numerical_column,
                           categorical_column = categorical_column,
                           ohe_column = ohe_columns,
                           imputer_numerical = imputer_numerical,
                           standardizer = standardizer)

In [274]:
X_test_clean.shape

(11303, 60)

In [275]:
# Logistic Regression Performance
logreg_test_predict, score = testPrediction(X_test = X_test_clean,
                                            y_test = y_test,
                                            classifier = logreg,
                                            compute_score = True)

Accuracy : 0.9011

In [277]:
# K nearest neighbor Performance
knn_test_predict, score = testPrediction(X_test = X_test_clean,
                                         y_test = y_test,
                                         classifier = knn,
                                         compute_score = True)

Accuracy : 0.8898

In [278]:
# Random Forest Performance
rf_test_predict, score = testPrediction(X_test = X_test_clean,
                                        y_test = y_test,
                                        classifier = random_forest,
                                        compute_score = True)

Accuracy : 0.9001

In [279]:
# Random Forest 1 Performance
rf_1_test_predict, score = testPrediction(X_test = X_test_clean,
                                          y_test = y_test,
                                          classifier = random_forest_1,
                                          compute_score = True)

Accuracy : 0.9018